/Client/Client.sln
/Client/.vs
/Client/Library
/Client/Temp
/Client/Client.csproj
/Client/Client.Editor.csproj
/Client/obj
/Client/UnityPackageManager
/Client/Packages
/Server/UnityServer/Server/Library
/Server/UnityServer/Server/Temp
/Server/UnityServer/Server/.vs
/Server/UnityServer/Server/obj
/Server/UnityServer/Server/Assembly-CSharp.csproj
/Server/UnityServer/Server/Server.sln
/Client/Assembly-CSharp.csproj
/Client/Assembly-CSharp-Editor.csproj
/Resources/UnityClient/Library
/Resources/UnityClient/obj
/Resources/UnityClient/Temp
/Resources/UnityClient/Assembly-CSharp.csproj
/Resources/UnityClient/Assembly-CSharp-Editor.csproj
/Resources/UnityClient/Client.sln
/Resources/UnityClient/packages.config
/Resources/UnityClient/.vs
/Resources/UnityServer/.vs
/Resources/UnityServer/Library
/Resources/UnityServer/obj
/Resources/UnityServer/Packages
/Resources/UnityServer/Temp
/Resources/UnityServer/Assembly-CSharp.csproj
/Resources/UnityServer/Server.sln
/Resources/UnityClient/Packages
/Client/packages.config
/Resources/UnityClient/*.sln
/Resources/UnityClient/ProjectSettings/ProjectVersion.txt
/Resources/UnityServer/ProjectSettings/ProjectVersion.txt
/Resources/UnityServer/UnityServer.sln
/Resources/GM/.vs
/Resources/GM/GM.sln
/Resources/GM/GM/obj
/Resources/GM/GM/bin
/Resources/GM/GM/GM.csproj
/Server/Server/Server.sln
/Server/Server/.vs
/Server/Server/bin
/Server/Server/obj
/Server/Server/Server.csproj
/Client/Logs
/Client/.idea
/Client/ProjectSettings/ProjectVersion.txt
/Client/.vsconfig
/Client/Assembly-CSharp.Player.csproj
/Client/Unity.Rider.Editor.csproj
/Client/UnityEditor.SpatialTracking.csproj
/Client/UnityEditor.TestRunner.csproj
/Client/UnityEditor.UI.csproj
/Client/UnityEditor.XR.LegacyInputHelpers.csproj
/Client/UnityEngine.SpatialTracking.csproj
/Client/UnityEngine.TestRunner.csproj
/Client/UnityEngine.UI.csproj
/Client/UnityEngine.XR.LegacyInputHelpers.csproj
